n8n-workflow.json
{
  "name": "AI 自動生成文章並同步到 GitHub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        },
        "triggerAtHour": 9,
        "triggerAtMinute": 0
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "SITES",
              "value": "sce010,site1,cds006"
            },
            {
              "name": "DATE",
              "value": "={{ $now.format('YYYY-MM-DD') }}"
            },
            {
              "name": "COUNT",
              "value": "1"
            },
            {
              "name": "CATEGORY",
              "value": "daily"
            },
            {
              "name": "STRAPI_URL",
              "value": "http://localhost:1337"
            },
            {
              "name": "STRAPI_TOKEN",
              "value": "6a02dd00859ce2861a884a1de0b5f7eaf4ee961b0e6bf0c07c7df72d47e1c9b142a07564ffadd433ffa9b851d14629989b07d72fb09457d775f3227cca99fbaee43200ccac7a0db7d6d65185ca71b317bae9d6c0db943abb50a9e3ed9f279e536c2acba98e2f642bb44f543d1c23fac24a131ec177f23d2d496715b9c5984c76"
            },
            {
              "name": "GEMINI_API_KEY",
              "value": "你的Gemini API Key"
            },
            {
              "name": "PROMPT_FILE",
              "value": "C:\\Users\\yyutingliu\\Downloads\\AI生成網站測試\\cursor\\一個主題多個站(落地)\\下載\\新增文章提詞.txt"
            },
            {
              "name": "OUTPUT_JSON",
              "value": "true"
            },
            {
              "name": "GITHUB_REPO_PATH",
              "value": "C:\\Users\\yyutingliu\\Downloads\\AI生成網站測試\\cursor\\一個主題多個站(落地)"
            },
            {
              "name": "GITHUB_AUTO_PUSH",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "node",
        "arguments": "ai-generate-articles.cjs",
        "workingDirectory": "C:\\Users\\yyutingliu\\Downloads\\AI生成網站測試\\cursor\\一個主題多個站(落地)",
        "environmentVariables": {
          "values": [
            {
              "name": "SITES",
              "value": "={{ $json.SITES }}"
            },
            {
              "name": "DATE",
              "value": "={{ $json.DATE }}"
            },
            {
              "name": "COUNT",
              "value": "={{ $json.COUNT }}"
            },
            {
              "name": "CATEGORY",
              "value": "={{ $json.CATEGORY }}"
            },
            {
              "name": "STRAPI_URL",
              "value": "={{ $json.STRAPI_URL }}"
            },
            {
              "name": "STRAPI_TOKEN",
              "value": "={{ $json.STRAPI_TOKEN }}"
            },
            {
              "name": "GEMINI_API_KEY",
              "value": "={{ $json.GEMINI_API_KEY }}"
            },
            {
              "name": "PROMPT_FILE",
              "value": "={{ $json.PROMPT_FILE }}"
            },
            {
              "name": "OUTPUT_JSON",
              "value": "={{ $json.OUTPUT_JSON }}"
            },
            {
              "name": "GITHUB_REPO_PATH",
              "value": "={{ $json.GITHUB_REPO_PATH }}"
            },
            {
              "name": "GITHUB_AUTO_PUSH",
              "value": "={{ $json.GITHUB_AUTO_PUSH }}"
            }
          ]
        }
      },
      "id": "execute-command",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-condition",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "node",
        "arguments": "export-strapi-to-github.cjs",
        "workingDirectory": "C:\\Users\\yyutingliu\\Downloads\\AI生成網站測試\\cursor\\一個主題多個站(落地)",
        "environmentVariables": {
          "values": [
            {
              "name": "SITES",
              "value": "={{ $json.SITES }}"
            },
            {
              "name": "DATE",
              "value": "={{ $json.DATE }}"
            },
            {
              "name": "CATEGORY",
              "value": "={{ $json.CATEGORY }}"
            },
            {
              "name": "STRAPI_URL",
              "value": "={{ $json.STRAPI_URL }}"
            },
            {
              "name": "STRAPI_TOKEN",
              "value": "={{ $json.STRAPI_TOKEN }}"
            },
            {
              "name": "GITHUB_REPO_PATH",
              "value": "={{ $json.GITHUB_REPO_PATH }}"
            },
            {
              "name": "GITHUB_AUTO_PUSH",
              "value": "={{ $json.GITHUB_AUTO_PUSH }}"
            },
            {
              "name": "OUTPUT_JSON",
              "value": "true"
            }
          ]
        }
      },
      "id": "export-to-github",
      "name": "Export to GitHub",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Export to GitHub",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-24T00:00:00.000Z",
  "versionId": "1"
}
