n8n-workflow-with-webhook.json
{
  "name": "AI 自動生成文章並同步到 GitHub (含 Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-articles",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "generate-articles"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Workflow 已接收請求，正在處理...\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "SITES",
              "value": "={{ $json.body.sites ? $json.body.sites.join(',') : 'all' }}"
            },
            {
              "name": "DATE",
              "value": "={{ $json.body.date || $now.format('YYYY-MM-DD') }}"
            },
            {
              "name": "COUNT",
              "value": "={{ $json.body.count || '1' }}"
            },
            {
              "name": "CATEGORY",
              "value": "={{ $json.body.category || 'daily' }}"
            },
            {
              "name": "STRAPI_URL",
              "value": "http://localhost:1337"
            },
            {
              "name": "STRAPI_TOKEN",
              "value": "6a02dd00859ce2861a884a1de0b5f7eaf4ee961b0e6bf0c07c7df72d47e1c9b142a07564ffadd433ffa9b851d14629989b07d72fb09457d775f3227cca99fbaee43200ccac7a0db7d6d65185ca71b317bae9d6c0db943abb50a9e3ed9f279e536c2acba98e2f642bb44f543d1c23fac24a131ec177f23d2d496715b9c5984c76"
            },
            {
              "name": "GEMINI_API_KEY",
              "value": "AIzaSyDbPlZ9iOEJ-0tdf1fdTYUser4tEbjaUmw"
            },
            {
              "name": "PROMPT_FILE",
              "value": "C:\\Users\\yyutingliu\\Downloads\\AI生成網站測試\\cursor\\一個主題多個站(落地)\\下載\\新增文章提詞.txt"
            },
            {
              "name": "OUTPUT_JSON",
              "value": "true"
            },
            {
              "name": "GITHUB_REPO_PATH",
              "value": "C:\\Users\\yyutingliu\\Downloads\\AI生成網站測試\\cursor\\一個主題多個站(落地)"
            },
            {
              "name": "GITHUB_REPO_URL",
              "value": "https://github.com/liouyuting112/multi-site-static-strapi-front.git"
            },
            {
              "name": "GITHUB_AUTO_PUSH",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst path = require('path');\n\nconst workingDir = 'C:\\\\Users\\\\yyutingliu\\\\Downloads\\\\AI生成網站測試\\\\cursor\\\\一個主題多個站(落地)';\nconst scriptPath = path.join(workingDir, 'ai-generate-articles.cjs');\n\n// 設定環境變數\nconst env = {\n  ...process.env,\n  SITES: $input.item.json.SITES,\n  DATE: $input.item.json.DATE,\n  COUNT: $input.item.json.COUNT,\n  CATEGORY: $input.item.json.CATEGORY,\n  STRAPI_URL: $input.item.json.STRAPI_URL,\n  STRAPI_TOKEN: $input.item.json.STRAPI_TOKEN,\n  GEMINI_API_KEY: $input.item.json.GEMINI_API_KEY,\n  PROMPT_FILE: $input.item.json.PROMPT_FILE,\n  OUTPUT_JSON: $input.item.json.OUTPUT_JSON,\n  GITHUB_REPO_PATH: $input.item.json.GITHUB_REPO_PATH,\n  GITHUB_AUTO_PUSH: $input.item.json.GITHUB_AUTO_PUSH\n};\n\ntry {\n  const output = execSync(`node \"${scriptPath}\"`, {\n    cwd: workingDir,\n    env: env,\n    encoding: 'utf8'\n  });\n  \n  return {\n    json: {\n      exitCode: 0,\n      output: output,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      exitCode: error.status || 1,\n      output: error.stdout || error.message,\n      error: error.message,\n      success: false\n    }\n  };\n}"
      },
      "id": "execute-command",
      "name": "Generate Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-condition",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst path = require('path');\n\nconst workingDir = 'C:\\\\Users\\\\yyutingliu\\\\Downloads\\\\AI生成網站測試\\\\cursor\\\\一個主題多個站(落地)';\nconst scriptPath = path.join(workingDir, 'export-strapi-to-github.cjs');\n\n// 從 Set Variables 節點取得資料\nconst setVarsNode = $('Set Variables').first();\n\n// 設定環境變數\nconst env = {\n  ...process.env,\n  SITES: setVarsNode.json.SITES,\n  DATE: setVarsNode.json.DATE,\n  CATEGORY: setVarsNode.json.CATEGORY,\n  STRAPI_URL: setVarsNode.json.STRAPI_URL,\n  STRAPI_TOKEN: setVarsNode.json.STRAPI_TOKEN,\n  GITHUB_REPO_PATH: setVarsNode.json.GITHUB_REPO_PATH,\n  GITHUB_REPO_URL: setVarsNode.json.GITHUB_REPO_URL,\n  GITHUB_AUTO_PUSH: setVarsNode.json.GITHUB_AUTO_PUSH,\n  OUTPUT_JSON: 'true'\n};\n\ntry {\n  const output = execSync(`node \"${scriptPath}\"`, {\n    cwd: workingDir,\n    env: env,\n    encoding: 'utf8'\n  });\n  \n  return {\n    json: {\n      exitCode: 0,\n      output: output,\n      success: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      exitCode: error.status || 1,\n      output: error.stdout || error.message,\n      error: error.message,\n      success: false\n    }\n  };\n}"
      },
      "id": "export-to-github",
      "name": "Export to GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Generate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Articles": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Export to GitHub",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-24T00:00:00.000Z",
  "versionId": "1"
}


